/* $icon-font-path: '../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/'; */
$icon-font-path: '/fonts/';

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import "compass/css3";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    // padding-top: 20px;
    // padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

// Not sure why this is there, limits the width on big screens too much
/* Responsive: Portrait tablets and up */
// @media screen and (min-width: 768px) {
//     .container {
//         max-width: 730px;
//     }

//     /* Remove the padding we set earlier */
//     .header,
//     .marketing,
//     .footer {
//         padding-left: 0;
//         padding-right: 0;
//     }
//     /* Space out the masthead */
//     .header {
//         margin-bottom: 30px;
//     }
//     /* Remove the bottom border on the jumbotron for visual effect */
//     .jumbotron {
//         border-bottom: 0;
//     }
// }




// BELOW IS MY CSS

// .view-animate {
//   bottom: 0;
//   position: relative;
//   text-align: center;
//   top: 0;
//   width: 100%;
// }

.view-animate.ng-enter {
  $enter-anim-length: 0.25s;
  $enter-anim-delay: 0.25s;
  $enter-easing-function: ease-in;
  $enter-animation: fadeIn;
  -webkit-animation: $enter-animation $enter-anim-length $enter-anim-delay both $enter-easing-function; z-index: 8888;
  -moz-animation: $enter-animation $enter-anim-length $enter-anim-delay both $enter-easing-function; z-index: 8888;
  -o-animation: $enter-animation $enter-anim-length $enter-anim-delay both $enter-easing-function; z-index: 8888;
  animation: $enter-animation $enter-anim-length $enter-anim-delay both $enter-easing-function; z-index: 8888;
}
.view-animate.ng-leave {
  $leave-anim-length: .25s;
  $enter-anim-delay: 0s;
  $leave-easing-function: ease-in;
  $leave-animation: fadeOut;
  -webkit-animation: $leave-animation $leave-anim-length $enter-anim-delay both $leave-easing-function; z-index: 9999;
  -moz-animation: $leave-animation $leave-anim-length $enter-anim-delay both $leave-easing-function; z-index: 9999;
  -o-animation: $leave-animation $leave-anim-length $enter-anim-delay both $leave-easing-function; z-index: 9999;
  animation: $leave-animation $leave-anim-length $enter-anim-delay both $leave-easing-function; z-index: 9999;
}

/* ANIMATIONS
============================================================================= */

/* leaving animations ----------------------------------------- */
/* rotate and fall */
@keyframes rotateFall {
  0%    { transform: rotateZ(0deg); }
  20%   { transform: rotateZ(10deg); animation-timing-function: ease-out; }
  40%   { transform: rotateZ(17deg); }
  60%   { transform: rotateZ(16deg); }
  100%  { transform: translateY(100%) rotateZ(17deg); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
  to    { transform: translateX(-100%); }
}
@-moz-keyframes slideOutLeft {
  to    { transform: translateX(-100%); }
}
@-webkit-keyframes slideOutLeft {
  to    { transform: translateX(-100%); }
}

/* rotate out newspaper */
@keyframes rotateOutNewspaper {
  to    { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}

/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
  from  { opacity: 0.3; -webkit-transform: scale(0.8); }
}
@-moz-keyframes scaleUp {
  from  { opacity: 0.3; -webkit-transform: scale(0.8); }
}
@-webkit-keyframes scaleUp {
  from  { opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* slide in from the right */
@keyframes slideInRight {
  from  { transform:translateX(100%); }
  to    { transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
  from  { transform:translateY(100%); }
  to    { transform: translateY(0); }
}

@keyframes fadeIn {
  from { opacity: 0; }
}
@-moz-keyframes fadeIn {
  from { opacity: 0; }
}
@-webkit-keyframes fadeIn {
  from { opacity: 0; }
}

@keyframes fadeOut {
  to { opacity: 0; }
}
@-moz-keyframes fadeOut {
  to { opacity: 0; }
}
@-webkit-keyframes fadeOut {
  to { opacity: 0; }
}





$brazil-flag-green: #009b3a;
$brazil-flag-yellow: #fedf00;
$brazil-flag-blue: #002776;

html, body {
  height: 100%; /* needed for container min-height */
}

$footer-height: 60px;

.page-wrap {
  height:auto !important;
  height:100%;
  min-height:100%;
  background-repeat: no-repeat;
  margin-bottom: -$footer-height;
}

.page-wrap:after {
  content: "";
  display: block;
}

.app-footer, .page-wrap:after {
  /* .push must be the same height as footer */
  height: $footer-height;
  padding-left: 30px;
  padding-right: 30px;
}

.brazil-background-hgradient {
  @include background-image(linear-gradient(left, $brazil-flag-green, $brazil-flag-yellow));
}

.brazil-background-vgradient {
  @include background-image(linear-gradient($brazil-flag-green, $brazil-flag-yellow));
}

// This is needed for Angular JS where you can specify anchors without
// an href attribute to simulate preventDefault.  However, an anchor element
// without href does not show a pointer, hence this rule
a {
  cursor: pointer;
}

.app-header {
  background: $brazil-flag-blue;
  margin-bottom: 30px;
  padding-top: 10px;
  color: #fff;
  padding-left: 30px;
  padding-right: 30px;
  overflow: auto;
}

.app-title {
  float: left;
  color: #fff;
  font-size: 24px;
  &:hover {
    text-decoration: none;
    color: darken(#fff,10%);
  }
}

.app-logo {
  width: 64px;
  height: 64px;
}

.app-menu {
  float: right;
  li {
    float: left;
    padding-right: 10px;
    a.active {
      color: white;
    }
  }
}

.avatar-img {
  width: 50px;
  height: 50px;
  @include border-radius(50%);
  // border: 2px solid #000;
}

.social-login {
  font-size: 3em;
  color: #fff;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  @include border-radius(50%);
  transition: all .25s;
  &:hover {
    text-decoration: none;
    color: $brazil-flag-blue;
    background: #fff;
  }
}

.content {
  background: #fff;
  padding: 1px 20px;
  @include border-radius(6px);
  @include box-shadow(5px 5px 10px 0px);
  h1, h2 {
    text-align: center;
  }
}

.standings-table {
  counter-reset: rowNumber;
  // > thead > tr > th:first-child::before {
  //   content: "Rank";
  //   min-width: 1em;
  //   margin-right: 0.5em;
  // }
  .standings-row {
    counter-increment: rowNumber;
    > td:first-child::before {
      display: inline-block;
      content: counter(rowNumber);
      font-size: 1.5em;
      margin-right: 0.5em;
      width: 32px;
      height: 32px;
      @include border-radius(50%);
      color: #fff;
      background-color: #000;
      text-align: center;
    }
  }
  .picks {
    border-spacing: 5px;
    border-collapse: separate;
    .flags {

    }
    .flag-img {
      @include box-shadow(0px 2px 5px 0px);
    }
    .country-code {
      td {
        background: gray;
        color: white;
        font-size: .75em;
        @include border-radius(3px);
        margin: 10px;
        text-align: center;
      }
    }
  }
}

.hiding-form {
  box-shadow: 0px 10px 10px -8px;
  z-index: 100;
  background: #fff;
}

.new-team {
  @include border-radius(10px);
  padding-top: 20px;
  margin-top: -20px;
  box-shadow: 0px 5px 10px -5px;
  @include transition-property(translateY);
  @include transition-duration(.5s);
}

.hide-form {
  @include transition-property(translateY);
  @include transition-duration(.5s);
}

.new-team--hidden {
  @include translateY(-55px);
}

.new-team-form {
  margin-bottom: 20px;
}

.top-buffer { margin-top: 20px; }
.bottom-buffer { margin-bottom: 20px; }
.pull-in-left-double { margin-left: 40px; }
.pull-in-right-double { margin-right: 40px;}

.add-team-action {
  background: green;
  color: white;
  font-size: 24px;
  padding: 2px 8px;
  @include border-radius(0 0 14px 14px);
  @include transition-property(translateY);
  @include transition-duration(.5s);
}

.delete-team-icon {
  margin-right: 30px;
}

.user-teams-list {

}

.user-teams-list-item {
  overflow: auto;
  padding-bottom: 10px;
  cursor: pointer;
}

.team-action-link {
  font-size: 2em;
  &.positive {
    color: green;
  }
  &.negative {
    color: red;
  }
}

td.number, th.number {
  text-align: right;
}

.team-points {
  font-size: 2em;
  font-weight: bold;
}
