/* $icon-font-path: '../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/'; */
$icon-font-path: '/fonts/';

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import "compass/css3";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    // padding-top: 20px;
    // padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}




// BELOW IS MY CSS
html, body {
  height: 100%; /* needed for container min-height */
}

$brazil-flag-green: #009b3a;
$brazil-flag-yellow: #fedf00;
$brazil-flag-blue: #002776;

.page-wrap {
  height:auto !important;
  // height:100%;
  min-height:100%;
  background-repeat: no-repeat;
  margin-bottom: -40px;
}

.page-wrap:after {
  content: "";
  display: block;
}

.app-footer, .page-wrap:after {
  /* .push must be the same height as footer */
  height: 40px;
  padding-left: 30px;
  padding-right: 30px;
}

.brazil-background-hgradient {
  @include background-image(linear-gradient(left, $brazil-flag-green, $brazil-flag-yellow));
}

.brazil-background-vgradient {
  @include background-image(linear-gradient($brazil-flag-green, $brazil-flag-yellow));
}

// This is needed for Angular JS where you can specify anchors without
// an href attribute to simulate preventDefault.  However, an anchor element
// without href does not show a pointer, hence this rule
a {
  cursor: pointer;
}

.app-header {
  background: $brazil-flag-blue;
  margin-bottom: 30px;
  padding-top: 10px;
  color: #fff;
  padding-left: 30px;
  padding-right: 30px;
}

.app-title {
  color: #fff;
  font-size: 24px;
  &:hover {
    text-decoration: none;
    color: darken(#fff,10%);
  }
}

.app-logo {
  width: 64px;
  height: 64px;
}

.app-menu {
  float: right;
  li {
    float: left;
    padding-right: 10px;
  }
}

.avatar-img {
  width: 50px;
  height: 50px;
  @include border-radius(50%);
  // border: 2px solid #000;
}

.social-login {
  font-size: 3em;
  color: #fff;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  @include border-radius(50%);
  transition: all .25s;
  &:hover {
    text-decoration: none;
    color: $brazil-flag-blue;
    background: #fff;
  }
}

.content {
  background: #fff;
  padding: 1px 20px;
  @include border-radius(6px);
  @include box-shadow(5px 5px 10px 0px);
  h1, h2 {
    text-align: center;
  }
}

.standings-table {
  counter-reset: rowNumber;
  // > thead > tr > th:first-child::before {
  //   content: "Rank";
  //   min-width: 1em;
  //   margin-right: 0.5em;
  // }
  .standings-row {
    counter-increment: rowNumber;
    > td:first-child::before {
      display: inline-block;
      content: counter(rowNumber);
      font-size: 1.5em;
      margin-right: 0.5em;
      width: 32px;
      height: 32px;
      @include border-radius(50%);
      color: #fff;
      background-color: #000;
      text-align: center;
    }
  }
  .picks {
    border-spacing: 5px;
    border-collapse: separate;
    .flag {

    }
    .country-code {
      td {
        background: gray;
        color: white;
        font-size: .75em;
        @include border-radius(3px);
        margin: 10px;
        text-align: center;
      }
    }
  }
}

.user-teams-list {

}

.user-teams-list-item {
  padding-bottom: 10px;
}
