@import "compass/css3";
@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/variables';

[draggable] {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}

[draggable]:active {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}

.my-selection-list {
  font-size: 1.5em;
}

.my-selection-list-item {
  padding: 10px;
  margin: 10px;
  @include border-radius(5px);
  background: lighten($brand-success,10%);
  border: 2px solid darken($brand-success,10%);
}

// for en empty item
.my-selection-list-item-empty {
  background: #f9f9f9;
  border: 2px dashed transparent;
}

// item being dragged
.ora-drag-start {
  opacity: .5;
}

// when dragging an item over an empty item
.ora-target.ora-drag-enter.my-selection-list-item-empty {
  background: #ccc;
  border: 2px inset #aaa;
}

// when dragging an item over a non-empty item
.ora-target.ora-drag-enter:not(.my-selection-list-item-empty) {
  opacity: .9;
  border: 2px inset darken($brand-success,10%);
}

// empty target
.ora-target.my-selection-list-item-empty {
  background: #eee;
  border: 2px dashed #aaa;
}

// non-empty target
.ora-target:not(.my-selection-list-item-empty) {
  opacity: .8;
  border: 2px dashed darken($brand-success,10%);
}

.group-header {
  width: 100%;
  display: block;
  border-bottom: 2px solid #000;
  background: #ddd;
}

.group-list {

}

.group-list-item {

}
