<div class="jumbotron">
  <h2>Welcome {{session.name}}!</h2>
  <p class="lead">
    To the 2016 Euro Cup edition of the UX Sweepstakes.
  </p>

  <p ng-if="loggedIn()">
    <a class="btn btn-lg btn-success" href="#/myteams">Manage Your Teams!</a>
  </p>

  <p ng-if="!loggedIn()">
    To participate, please log on using one of the provided services (<a href="/auth/twitter">Twitter</a>, <a href="/auth/facebook">Facebook</a> or <a href="/auth/github">Github</a>) and assemble your team(s).
  </p>

  <p ng-if="!loggedIn()">
    <a class="btn btn-lg btn-success" href="/auth/facebook">Get Started!<span class="glyphicon glyphicon-ok"></span></a>
  </p>
</div>

<div class="content">
  <h1>Current Standings</h1>
  <table class="standings-table table table-condensed table-hover">
    <thead>
      <tr>
        <th></th>
        <th>Team Name</th>
        <th>Owner</th>
        <th>Picks</th>
        <th class="number">Points</th>
      </tr>
    </thead>
    <tbody>
      <tr class="standings-row" ng-repeat="team in ranking.teams| orderBy:'-points'">
        <td></td>
        <td>{{team.name}}</td>
        <td>{{team.user.name}}</td>
        <td>
          <table class="picks">
            <tbody>
              <tr class="flags">
                <td ng-repeat="pick in team.picks| orderBy:'position'">
                  <img class="flag-img" ng-src="{{pick.flag_url}}" width="30px" height="20px" alt="{{pick.country_name}}" title="{{pick.country_name}}:{{pick.points}}">
                </td>
              </tr>
              <tr class="country-code">
                <td ng-repeat="pick in team.picks| orderBy:'position'">
                  {{pick.country_code3}}
                </td>
              </tr>
            </tbody>
          </table>
        </td>
        <td class="number team-points">{{team.points}}</td>
      </tr>
    </tbody>
  </table>
</div>
