<div class="jumbotron">
  <h1>Welcome {{session.name}}!</h1>
  <p class="lead">
    To the 2014 World Cup edition of the UX Sweepstakes.
  </p>
  <p ng-if="!loggedIn()">
    To participate, please log on using one of the provided services (<a href="/auth/twitter">Twitter</a>, <a href="/auth/facebook">Facebook</a> or <a href="/auth/github">Github</a>) and assemble your team(s).
  </p>

  <p ng-if="!loggedIn()">
    <a class="btn btn-lg btn-success" href="/auth/facebook">Get Started!<span class="glyphicon glyphicon-ok"></span></a>
  </p>
</div>

<div class="jumbotron">
  <h2>Current Standings</h2>
  <table class="standings-table">
    <thead>
      <tr>
        <th>Team Name</th>
        <th>Owner</th>
        <th>Picks</th>
        <th>Points</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="team in ranking.teams">
        <td>{{team.name}}</td>
        <td>{{team.user.name}}</td>
        <td>
          <!-- <span ng-repeat="pick in team.picks">{{pick.country_name}}</span> -->
          <img ng-repeat="pick in team.picks" ng-src="{{pick.flag_url}}" width="30px" height="20px">
        </td>
      </tr>
    </tbody>
  </table>
</div>
