<div class="container-fluid">

  <div class="row">
    <div class="col-lg-12">
      <div class="page-header">
        <h1>My picks for team {{team.name}} <small>Manage your picks.</small></h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8">
      <ol class="user-picks-list">
        <li data-pick-id="{{pick.id}}" data-tournament-participant-id="{{pick.tournament_participant_id}}" class="user-picks-list-item" ng-class="{'user-picks-list-item-empty':!pick.tournament_participant_id}" ora-draggable="" on-drop="dropped(dragEl, dropEl)" ora-drop-target="" ng-repeat="pick in picks track by $index | orderBy:position">
          <span ng-if="pick.tournament_participant_id"><img ng-src="{{pick.flag_url}}" width="30px" height="20px"/> {{pick.country_name}} - (Group {{pick.group_name}})</span>
        </li>
      </ol>
    </div>


<!--     <div ng-controller="GroupsCtrl" class="col-lg-4">
      <div ng-repeat="(key, group) in groups track by key">
        <span class="group-header">Group {{key}}</span>
        <ul class="group-list list-unstyled">
          <li class="group-list-item" ora-draggable="" ng-repeat="participant in group" data-id="{{participant.id}}">{{participant | uppercase}}</li>
        </ul>
      </div>
    </div>
  </div> -->

    <div ng-controller="TournamentsCtrl" class="col-lg-4">
      <div ng-repeat="group in tournament.groups">
        <span class="group-header">Group {{group.name}}</span>
        <ul class="group-list list-unstyled">
          <li class="group-list-item" ora-draggable="" ng-repeat="participant in group.tournament_participants" id="{{participant.id}}">  <img ng-src="{{participant.country.flag_url}}" width="30px" height="20px"/> {{participant.country_name | uppercase}}
          </li>
        </ul>
      </div>
    </div>
  </div>

<!--   <div class="row">
    <div class="col-lg-12">
      <form ng-submit="savePick(pick)" ng-init="pick.tournament_participant_id = ''">
        <label for="participant-name">Name</label>
        <input id="participant-name" type="text" ng-model="pick.tournament_participant_id">
        <button type="submit" class="btn btn-primary btn-sm" ng-disabled="!pick.tournament_participant_id">Save</button>
      </form>
    </div>
  </div>
 -->
</div>
