<div class="container-fluid">
  <div class="content" ng-init="showForm=false">

    <div class="row">
      <div class="col-lg-12 hiding-form">
        <div class="page-header">
          <h1>My Teams <small>Manage your teams.</small></h1>
        </div>
      </div>
    </div>

    <div class="hide-form" ng-class="{'new-team--hidden':!showForm}">
      <div class="row pull-in-left-double pull-in-right-double new-team">
        <form role="form" ng-submit="saveTeam(team)" class="new-team-form">
          <div class="row">
            <div class="col-lg-3 col-lg-offset-1">
              <label for="team-name">Team Name</label>
            </div>
            <div class="col-lg-5">
              <input type="text" class="form-control" id="team-name" ng-model="team.name">
            </div>
            <div class="col-lg-1">
              <button type="submit" class="btn btn-primary btn-sm" ng-disabled="!team.name">Save</button>
            </div>
          </div>
        </form>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <p class="text-center" ng-click="showForm=!showForm"><i class="fa fa-plus add-team-action"></i></p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <ul class="user-teams-list list-unstyled">
          <li class="user-teams-list-item" ng-repeat="team in teams">
            <span ng-if="!team.editing">
              <span ng-click="editTeam(team)">
                <div class="col-lg-4"> {{team.name}} </div>
                <div class="col-lg-4"> {{team.tournament_name}} </div>
              </span>
              <div class="col-lg-4">
                <a ng-click="deleteTeam(team)">X</a>
                <a ng-href="#/myteams/{{team.id}}/mypicks">Picks</a>
              </div>
            </span>
            <span ng-if="team.editing">
              <form role="form">
                <div class="row">
                  <div class="col-xs-10">
                    <label class="sr-only" for="team-name">Team Name</label>
                    <input type="text" class="form-control" id="team-name" ng-model="team.name">
                  </div>
                  <div class="col-xs-1">
                    <a ng-click="saveTeam(team)" class="team-action-link positive" title="save"><i class="fa fa-check"></i></a>
                  </div>
                  <div class="col-xs-1">
                    <a ng-click="resetTeam(team)" class="team-action-link negative" title="cancel"><i class="fa fa-times"></i></a>
                  </div>
                </div>
              </form>
            </span>
          </li>
        </ul>
      </div>
    </div>

<!--     <div class="row">
      <div class="col-lg-12">
        <form ng-submit="saveTeam(team)">
          <label for="team-name">Name</label>
          <input id="team-name" type="text" ng-model="team.name">
          <button type="submit" class="btn btn-primary btn-sm" ng-disabled="!team.name">Save</button>
        </form>
      </div>
    </div>
 -->
  </div>
</div>
